<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tests.AdvancedSeleniumTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>screenshotTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>hoverButtonTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickStealer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>cookieTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>browserTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>cookieCheckTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>alertTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkboxTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>staleTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>cleanUp</td>
<td>&nbsp;</td></tr>
</table>
