<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Smoke</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbfa64">  <td>21/02/27 12:16:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdvancedSeleniumTests.browserTest(java.lang.String)[pri:0, instance:tests.AdvancedSeleniumTests@5a8e6209]">browserTest</td> 
  <td>TestNG-test=Selenium Advanced-1@247030701</td>   <td></td> </tr>
<tr bgcolor="fffcd7">  <td>21/02/27 12:16:40</td>   <td>10853</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.cleanUp()[pri:0, instance:tests.AdvancedSeleniumTests@5a8e6209]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Selenium Advanced-2@1100013976</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>21/02/27 12:16:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdvancedSeleniumTests.cookieCheckTest()[pri:0, instance:tests.AdvancedSeleniumTests@5a8e6209]">cookieCheckTest</td> 
  <td>TestNG-test=Selenium Advanced-3@1276695980</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>21/02/27 12:16:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdvancedSeleniumTests.cookieTest()[pri:0, instance:tests.AdvancedSeleniumTests@5a8e6209]">cookieTest</td> 
  <td>TestNG-test=Selenium Advanced-2@1100013976</td>   <td></td> </tr>
<tr bgcolor="fffcd7">  <td>21/02/27 12:16:28</td>   <td>-1998</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.AdvancedSeleniumTests@5a8e6209]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Selenium Advanced-1@247030701</td>   <td></td> </tr>
</table>
