<h2>Methods that were not run</h2><table>
<tr><td>tests.AdvancedSeleniumTests.checkboxTest</td></tr>
<tr><td>tests.AdvancedSeleniumTests.alertTest</td></tr>
<tr><td>tests.AdvancedSeleniumTests.screenshotTest</td></tr>
<tr><td>tests.AdvancedSeleniumTests.staleTest</td></tr>
<tr><td>tests.AdvancedSeleniumTests.hoverButtonTest</td></tr>
<tr><td>tests.AdvancedSeleniumTests.clickStealer</td></tr>
</table>